.icon--search {
  background-image: url("../img/icons/procurar.svg");
}

.icon--user {
  background-image: url("../img/icons/usuario.svg");
}

.icon--marker {
  background-image: url("../img/icons/marcador.svg");
}

.icon--thermometer {
  background-image: url("../img/icons/termometro.png");
}

.icon--pressure {
  background-image: url("../img/icons/pressao.png");
}

.icon--wind {
  background-image: url("../img/icons/vento.png");
}

.icon--sun {
  background-image: url("../img/icons/sol.png");
}

.icon--precipitation {
  background-image: url("../img/icons/pingos-de-chuva.png");
}

.icon--humidity {
  background-image: url("../img/icons/umidade.png");
}
