.main {
  height: 100vh;
}

.main--container,
.main__list,
.main__item,
.main__item--rain,
.main__header,
.main--container--search {
  display: grid;
}

.main--container {
  color: var(--text-color);
  font-family: var(--font-default);
  grid-template-columns: 1fr 0.5fr;
  height: 100%;
}

.main--container--overview,
.main--container--infos {
  padding: 2rem 3rem;
}

.main__header--infos,
.main--container--weatherData,
.main__section--credits {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.main__header {
  border-bottom: 1px solid #d6e0f0;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  grid-template-columns: auto 1fr;
}

.main__text--date {
  font-size: 1.3rem;
  margin-bottom: 0.7rem;
}

.main--container--search,
.main__list,
.main__item,
.main__item--rain,
.main__header {
  gap: 1rem;
}

.main--container--search {
  align-items: center;
  grid-template-columns: 1fr auto;
}

.main--container--location {
  position: relative;
}

.main__input--text,
.main--container--icon,
.main__item {
  border-radius: 14px;
}

.main__input--text {
  background-color: var(--cards-bg);
  border: 0;
  box-sizing: border-box;
  padding: 1rem 1rem 1rem 3rem;
  width: 100%;
}

.main__icon--search {
  left: 15px;
  position: absolute;
  top: 14px;
}

.main__icon--search,
.icon--user,
.icon--marker {
  height: 20px;
  width: 20px;
}

.main--container--icon {
  background-color: var(--cards-bg);
  padding: 0.8rem;
}

.main--container--icon:hover {
  cursor: pointer;
}

.main__subtitle,
.main__text--itemTitle,
.main__text--location,
.main__icon--weather,
.main__section--sun {
  margin-bottom: 1rem;
}

.main__subtitle {
  font-size: 1.2rem;
}

.main__list {
  grid-template-columns: 1fr;
}

.main__item {
  align-items: center;
  background-color: var(--cards-bg);
  grid-template-columns: auto 1fr;
  padding: 1.5rem;
}

.main__text--itemTitle {
  font-size: 0.9rem;
}

.main__text--info {
  font-size: 1.8rem;
}

.main--container--infos {
  background-color: var(--infos-bg);
  color: #ffffff;
}

.main__header--infos {
  margin-bottom: 2rem;
}

.main__text--location {
  font-size: 1.5rem;
}

.main__icon--weather {
  height: 50px;
  width: 50px;
}

.main__text--degrees {
  font-size: 2.5rem;
}

.main__section--weather {
  border-bottom: 1px solid #aaacaf;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.main__item--rain {
  align-items: center;
  grid-template-columns: auto 1fr auto;
  margin-bottom: 1.5rem;
}

.main--container--progress {
  background-color: var(--progress-bg);
  border-radius: 30px;
  height: 30px;
}

.main__item--sun {
  background-color: var(--progress-bg);
}

.grey--text {
  color: #aaacaf;
}

@media screen and (max-width: 900px) {
  .main--container {
    grid-template-columns: 1fr;
  }

  .main--container--overview,
  .main--container--infos {
    padding: 1rem 1rem;
  }
}

@media screen and (max-width: 500px) {
  .main__header {
    grid-template-columns: 1fr;
  }

  .main--container--date {
    display: none;
  }
}

@media screen and (min-width: 440px) {
  .main__list {
    grid-template-columns: 1fr 1fr;
  }

  .main__list--sun {
    grid-template-columns: 1fr;
  }
}
