.main {
  height: 100vh;
}

.main--container {
  font-family: var(--font-default);
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  color: var(--text-color);
  height: 100%;
}

.main--container--overview,
.main--container--infos {
  padding: 2rem 3rem;
}

.main__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d6e0f0;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.main__text--date {
  margin-bottom: 0.7rem;
  font-size: 1.3rem;
}

.main--container--search {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main--container--location {
  position: relative;
}

.main__input--text {
  background-color: var(--cards-bg);
  border: 0;
  border-radius: 14px;
  box-sizing: border-box;
  padding: 1rem 1rem 1rem 3rem;
  width: 450px;
}

.main__icon--search {
  left: 15px;
  position: absolute;
  top: 14px;
}

.main__icon--search,
.icon--user,
.icon--marker {
  height: 20px;
  width: 20px;
}

.main--container--icon {
  background-color: var(--cards-bg);
  padding: 0.8rem;
  border-radius: 14px;
}

.main--container--icon:hover {
  cursor: pointer;
}

.main__subtitle {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.main__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.main__item {
  background-color: var(--cards-bg);
  border-radius: 14px;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: auto 1fr 0.6fr;
  gap: 1rem;
  align-items: center;
}

.main__text--itemTitle {
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.main__text--info {
  font-size: 1.8rem;
}

.main--container--infos {
  background-color: var(--infos-bg);
  color: #ffffff;
}

.main__header--infos {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__text--location {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.main__icon--weather {
  margin-bottom: 1rem;
  width: 50px;
  height: 50px;
}

.main__text--degrees {
  font-size: 2.5rem;
}

.main__section--weather {
  border-bottom: 1px solid #aaacaf;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.main--container--weatherData {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__item--rain {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.main--container--progress {
  height: 30px;
  background-color: var(--progress-bg);
  border-radius: 30px;
}

.grey--text {
  color: #aaacaf;
}
