:root {
  --font-default: sans-serif;
  --infos-bg: #122d4f;
  --cards-bg: #f5f3f5;
  --text-color: #091f3c;
  --progress-bg: #2b4366;
  --progress-bar-bg: #8cb2fb;
  --weather-icons-color: #0588cb;
}

.bold {
  font-weight: bold;
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 30px;
  width: 30px;
}
